.countdown-section{
    display:flex;
    padding:50px;
    justify-content: space-around;
    background-color: #efefef;
}
.countdown-section .cs-item{
    margin:15px;
    background-color: #fff;
    flex:1;
    padding:30px;
    box-shadow: 0 0 15px 0 rgba(90,90,90,0.3);
}
.countdown-section .timer-block{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: #d04946;
    color:#fff;
}
.timer-block .timer-item:not(:first-child){
    border-left:1px solid rgba(255,255,255,0.3);
    padding:10px;
}